.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.cityele{
  width: 10rem;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  transition: all 0.3s;
}
.cityele:hover{
  cursor: pointer;
  box-shadow: 0px 2px 5px #ccc;
}
.search-bar-wrapper>input:focus{
  outline: none;
}
.search-bar-wrapper>input:active{
  outline: none;
}
.search-bar-wrapper>input{
  width:60%;
  margin:auto;
  height: 3rem;
  border: 1px solid #ccc;
  box-shadow: 0px 1px 2px #ccc;;
}

.pointer{
  cursor: pointer;
}

.city-sprite {
  background-image: url("./assets/images/city-icons-sprite.png");
  background-size: 400% 400%;
  background-repeat: no-repeat;
  width: 120px;
  height: 100px;
  margin:auto;
  max-width: 100%;
}

.sprite--chennai {
  background-position: 55% 25%;
}

.sprite--bangalore {
  background-position: 27% 25%;
}

.sprite--hyderabad {
  background-position: 101% 25%;
}
.sprite--kolkata {
  background-position: 24% 64%;
}

.sprite--mumbai {
  background-position: 75% 64%;
}